<td>{{ firstName }}</td>
<td>{{ lastName }}</td>
<td>
  <button href="#contacts/{{ id }}" class="btn btn-small js-show">
    <span class='glyphicon glyphicon-eye-open'></span>
    Show
  </button>
  <button href="#contacts/{{ id }}/edit" class="btn btn-small js-edit">
    <span class='glyphicon glyphicon-pencil'></span>
    Edit
  </button>
  <button class="btn btn-small js-delete">
    <i class='glyphicon glyphicon-remove'></i>
    Delete
  </button>
</td>
